In [ ]:
# Step 1: Load & inspect
import pandas as pd
from pathlib import Path

# 1) adjust path if your file is elsewhere
csv_path = Path("synthetic_visits.csv")   # <-- change path if needed

# 2) read file
df = pd.read_csv(csv_path)

# 3) normalize column names (helpful if there are spaces/capitals/typos)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# 4) fix a few common typos / variants
rename_map = {}
for typo, correct in [
    ('qunatity','quantity'),
    ('quanity','quantity'),
    ('priceperunit','price_per_unit'),
    ('price_perunit','price_per_unit'),
    ('totalamount','total_amount')
]:
    if typo in df.columns and correct not in df.columns:
        rename_map[typo] = correct
if rename_map:
    df.rename(columns=rename_map, inplace=True)

# 5) quick overview
print("Columns:", df.columns.tolist())
print("\nRows, cols:", df.shape)
print("\nFirst 5 rows:")
display(df.head())

print("\nData types and non-null counts:")
print(df.info())

# 6) try to parse date column (if present)
if 'date' in df.columns:
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    print("\nDate parse failures (na after to_datetime):", df['date'].isna().sum())
    if df['date'].notna().any():
        print("Date range:", df['date'].min(), "to", df['date'].max())

# 7) basic numeric checks
numeric_cols = [c for c in ['quantity','price_per_unit','total_amount','age'] if c in df.columns]
if numeric_cols:
    print("\nNumeric column summary:")
    display(df[numeric_cols].describe())

# 8) missing values per column
print("\nMissing values by column:")
print(df.isnull().sum().sort_values(ascending=False))

# 9) duplicates (by whole row and by transaction id if present)
print("\nFull-row duplicates:", df.duplicated().sum())
if 'transaction_id' in df.columns:
    print("Duplicate transaction_id count:", df['transaction_id'].duplicated().sum())

# 10) unique customers and sample counts
if 'customer_id' in df.columns:
    print("\nUnique customers:", df['customer_id'].nunique())
    print("Total transactions:", len(df))
    # distribution of transactions per customer (show top 5)
    display(df.groupby('customer_id').size().sort_values(ascending=False).head())

# 11) check basic consistency: quantity * price_per_unit â‰ˆ total_amount
if all(c in df.columns for c in ['quantity','price_per_unit','total_amount']):
    df['_computed_total'] = df['quantity'] * df['price_per_unit']
    # allow small floating point tolerance
    mismatch_mask = (~df['total_amount'].isna()) & (~df['_computed_total'].isna()) & ( (df['total_amount'] - df['_computed_total']).abs() > 1e-6 )
    print("\nRows where total_amount != quantity * price_per_unit (count):", mismatch_mask.sum())
    if mismatch_mask.sum() > 0:
        display(df.loc[mismatch_mask].head())

# 12) check negative / zero values that look invalid
for col in ['quantity','price_per_unit','total_amount','age']:
    if col in df.columns:
        bad = df[df[col].notna() & (df[col] <= 0)]
        if not bad.empty:
            print(f"\nWarning: {col} has non-positive values (showing up to 5 rows):")
            display(bad.head())

# 13) keep a copy to avoid accidental edits
df_original = df.copy()
print("\nFinished Step 1 checks. If everything looks good we proceed to cleaning + RFM creation.")

import pandas as pd

# --- 1) Calculate snapshot date (one day after the last transaction) ---
snapshot_date = df['date'].max() + pd.Timedelta(days=1)
print("Snapshot Date:", snapshot_date)

# --- 2) Group by customer_id to compute R, F, M ---
rfm = df.groupby('customer_id').agg({
    'date': lambda x: (snapshot_date - x.max()).days,  # Recency: days since last purchase
    'transaction_id': 'nunique',                       # Frequency: total unique purchases
    'total_amount': 'sum'                              # Monetary: total spend
}).reset_index()

# --- 3) Rename columns to meaningful names ---
rfm.rename(columns={
    'date': 'recency',
    'transaction_id': 'frequency',
    'total_amount': 'monetary'
}, inplace=True)

# --- 4) Inspect the RFM table ---
print("\nRFM Table (first 5 rows):")
display(rfm.head())

# --- 5) Summary statistics ---
print("\nRFM Summary:")
display(rfm.describe())

Columns: ['transaction_id', 'date', 'customer_id', 'gender', 'age', 'product_category', 'quantity', 'price_per_unit', 'total_amount']

Rows, cols: (1000, 9)

First 5 rows:

,transaction_id,date,customer_id,gender,age,product_category,quantity,price_per_unit,total_amount
0,TXN0001,2024-05-31,CUST461,Female,18,Home_Decor,5,107,535
1,TXN0002,2023-09-15,CUST922,Male,41,Home_Decor,4,60,240
2,TXN0003,2023-09-22,CUST720,Female,56,Clothing_Women,3,76,228
3,TXN0004,2023-09-27,CUST343,Male,21,Clothing_Women,2,33,66
4,TXN0005,2022-09-05,CUST515,Female,49,Home_Decor,2,70,140

Data types and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    1000 non-null   object
 1   date              1000 non-null   object
 2   customer_id       1000 non-null   object
 3   gender            1000 non-null   object
 4   age               1000 non-null   int64
 5   product_category  1000 non-null   object
 6   quantity          1000 non-null   int64
 7   price_per_unit    1000 non-null   int64
 8   total_amount      1000 non-null   int64
dtypes: int64(4), object(5)
memory usage: 70.4+ KB
None

Date parse failures (na after to_datetime): 0
Date range: 2022-01-01 00:00:00 to 2024-06-18 00:00:00

Numeric column summary:

          quantity  price_per_unit  total_amount          age
count  1000.000000     1000.000000   1000.000000  1000.000000
mean      3.012000      114.205000    323.214000    44.140000
std       1.441504      187.474397    576.501251    13.621525
min       1.000000       10.000000     11.000000    18.000000
25%       2.000000       34.000000     81.000000    34.000000
50%       3.000000       55.000000    150.000000    47.000000
75%       4.000000       87.000000    292.500000    56.000000
max       5.000000      997.000000   4985.000000    64.000000

Missing values by column:
transaction_id      0
date                0
customer_id         0
gender              0
age                 0
product_category    0
quantity            0
price_per_unit      0
total_amount        0
dtype: int64

Full-row duplicates: 0
Duplicate transaction_id count: 0

Unique customers: 50
Total transactions: 1000

customer_id
CUST041    20
CUST068    20
CUST075    20
CUST103    20
CUST119    20
dtype: int64

Rows where total_amount != quantity * price_per_unit (count): 0

Finished Step 1 checks. If everything looks good we proceed to cleaning + RFM creation.
Snapshot Date: 2024-06-19 00:00:00

RFM Table (first 5 rows):

  customer_id  recency  frequency  monetary
0     CUST041       56         20      6745
1     CUST068       37         20      7043
2     CUST075       14         20      9146
3     CUST103        1         20      5133
4     CUST119      175         20      5642

RFM Summary:

          recency  frequency      monetary
count   50.000000       50.0     50.000000
mean    42.680000       20.0   6464.280000
std     39.620877        0.0   3503.398257
min      1.000000       20.0   2048.000000
25%     14.000000       20.0   4168.750000
50%     27.500000       20.0   5636.000000
75%     55.750000       20.0   7213.500000
max    175.000000       20.0  18538.000000

: